
<!-- 2021-01-16 02 moved the training sessions workout name, race title to app/helpers/trainings_helper.rb -->

<%= display_index_header %> <!-- 2021-01-17 linked to app/helpers/trainings_helper.rb -->


<ul>
<% @trainings.order(:date).each do |t| %>
<li>
    <%= t.username %> completed the <!-- 2021-01-17 -->
    <%= link_to t.workout.name, workout_path(t.workout)%>
    while training for the <%= link_to t.race.title, race_path(t.race)%>
    <%= display_date(t) %> <!-- 2021-01-17 app/helpers/trainings_helper.rb -->
    <%= display_feeling(t) %> <!-- 2021-01-17 app/helpers/trainings_helper.rb -->
  </li><br>
<% end %>
</ul>
 <!-- 2021-01-16 01 -->

 <!-- 2021-01-16 02 code that involves your database should go in your model -->
 <!-- 2021-01-16 02 anything to do with "sorting" or "ordering" goes in a scope method in the model -->