<h1>Record a Training Session</h1>

<%= render partial: "layouts/errors", locals: { object: @training } %> <!-- 2021-01-15 02-->

<%= form_for [@workout,@training] do |f| %><!-- 2021-01-15-->
<!-- if there is an error here, it could because the "new" method isn't definded in the trainings_controller-->
  <%= f.label :date %>
  <%= f.date_field :date %>

  <%= f.label :feeling %>
  <%= f.text_field :feeling %>

  <br><br>

  <%= f.label :race_id %>
  <%= f.collection_select :race_id, current_user.races, :id, :title    %> <!-- gives a dropdown menu of  the races that were created and stored in the database-->

  <br><br>
  <%= workout_form_option(f) %> <!-- 2021-01-17 linked to app/helpers/trainings_helper.rb -->
  <%= f.submit%>
 
<% end %> 