<h1>Workout: <%= @training.workout.name %></h1>



<h2>Race: <%=@training.race.title%>
<h3><%= @training.workout.category %>  | <%= @training.workout.distance %> miles</h3><!-- 2021-01-15 -->

<p>Date: <%= @training.date %>  </p><!-- 2021-01-15 -->

<p>Feeling: <%= @training.feeling %></p><!-- 2021-01-15 -->